
<!-- dashboard.ejs -->
<div class="container">

  <div class="page-header">
    <h1>Dashboard <small>Manage your library!</small></h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <a href="#" class="thumbnail"><img src="<%=req.user.avatar%>" class="img-responsive"></a>
        </div>
        <div class="col-xs-8 col-md-9">
          <h1><%=req.user.username%></h1>
          <p>E-Mail: <%=req.user.email%></p>
          <p>Member since: <%=req.user.createdAt %></p>
          <p>City: <%=req.user.city%></p>
          <p>State: <%=req.user.state%></p>
          <p>Country: <%=req.user.country%></p>
          <a class="btn btn-default" href="#" role="button" id="editAccount" data-toggle="modal" data-target="#editAccountModal">Edit account</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My Books</h3>
    </div>

    <%if(books != undefined) { %>
    <div class="panel-body">
      <div id="new-book">
          <table class="table table-hover">
            <tr>
              <td></td>
              <td>Title</td>
              <td>Author</td>
              <td>Actions</td>
            </tr>
          <% for(var i=0; i < books.length; i++) { %>
            <tr>
              <td><img src="<%= books[i].img%>" class="img-responsive" style="max-height:100px;"></td>
              <td><p><%= books[i].title %></p></td>
              <td><p><%= books[i].author %></p></td>
              <td><button value="<%= books[i].id %>" type="button" class="btn btn-default delete"><i class="fa fa-times"></i></button></td>
            </tr>
          <% } %>
          </table>
      </div>
    </div>
    <% } %>
    <div class="panel-footer text-center">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-book">
      <i class="fa fa-plus"></i> Add a book
      </button>
    </div>

  </div>

</div>



<div id="editAccountModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit your account</h4>
      </div>
      <div class="modal-body">
        <form id="form-update" role="form">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" value="<%=req.user.name%>">
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" value="<%=req.user.city%>">
          </div>
          <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" name="state" value="<%=req.user.state%>">
          </div>
          <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" name="country" value="<%=req.user.country%>">
          </div>
          <button class="btn btn-default" type="submit">Update</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="/js/dashboard.js"></script>
